:root {
  --primary-text-color: rgb(33, 33, 33);
  --accent-color: rgba(33, 150, 243, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: rgba(255, 255, 255, 1);
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* Контейнер */

.container {
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 95px;
  max-width: 1170px;
  outline: 3px solid sandybrown;
  /* align-content: center;
  padding: 15px */
}

/*шапка*/

.header {
  max-width: 100%;
  height: 80px;
  border: 1px solid rgba(236, 236, 236, 1);
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 281px;
  height: 16px;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 50px;
}

.header-list a {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

.header-list .list-item .current {
  color: var(--accent-color);
}

.list-item:hover,
.header-list .list-item:focus {
  color: var(--accent-color);
}

.header-logo {
  margin-left: 215px;
  /* margin-bottom: 25px; */
  /* margin-top: 25px; */
}

.header-logo-link-1 {
  width: 145px;
  height: 31px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}
.logo {
  color: var(--accent-color);
}

.header-logo-link-1 {
  color: rgba(0, 0, 0, 1);
}

.mail {
  margin-left: 344px;
  margin-top: 32px;
  color: rgba(117, 117, 117, 1);
}
.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.tel {
  margin-left: 50px;
  color: rgba(117, 117, 117, 1);
}

.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

/*Перший блок*/

/* .main {
  display: block;
  height: 600px;
  padding-top: 200px;
  background-color: rgba(47, 48, 58, 1);
} */

.main {
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgba(47, 48, 58, 1);
  outline: 3px solid tomato;
}

.tittle {

  margin-block-start: 0px;
  margin-block-end: 0px;
margin-bottom: 30px;
  height: 120px;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  padding-left: 237px;
  padding-right: 237px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 1);
  background-color: teal;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-left: 485px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  /* add padding?
  transparent border not obligatory
  display inline block
  это у нас не ссылка поэтому не нужно инлайн и паддинг */
}

/* Features*/

.features {
  margin-top: 94px;
}

.features-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  outline: 3px solid tomato;
}

.features-subtitle {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}



/*About*/

.about-title,
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.about-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.team {
  height: 648px;
  padding-top: 94px;
  background-color: #f5f4fa;
}

.team-card {
  width: 270px;
  height: 368px;
  border-radius: 0px, 0px, 4px, 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.team-item > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;

  color: #757575;
}

.team-item > h3 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

/* Footer */

.footer {
  height: 252px;
  background: #2f303a;
}

.footer-logo {
  margin-left: 215px;
  padding-top: 60px;
  /* margin-bottom: 25px; */
  /* margin-top: 25px; */
}

.footer-logo-link-1 {
  width: 145px;
  height: 31px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.17;
}
.logo {
  color: var(--accent-color);
}

.footer-logo-link-1 {
  color: #ffffff;
  text-decoration: none;
}

.adress-list {
  
  margin-top: 28px;
  line-height: 1.7;
  font-style: normal;
}

.adress-list-item {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: rgb(255, 255, 255, 0.6);
}

.adress-list-item-place {
  color: #ffffff;
  padding-bottom: 9px;
  text-decoration: none;
  gap: 12px;
}

/*------------------------------------------------------------ Portfolio -------------------------------*/

/* Button section */
.button-list {
  display: flex;
  margin-top: 94px;
  justify-content: center;
  gap: 8px;
}

.button-list-item {
  height: 38px;
  border-radius: 4px;
  background: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border: 1px solid rgba(238, 238, 238, 1);
}

.button-list-item:hover,
.button-list-item:focus {
  background-color: var(--accent-color);
  color: rgba(255, 255, 255, 1);
}

/* Portfolio List Section */

.portfolio-list {
  display: flex;
  /* align-items: flex-start; */
  gap: 30px;
}

.portfolio-list-item {
  height: 404px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
}
